:root {
    font-size: 20px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

ul {
    list-style-type: none;
}

body {
    color: black;
    background-color: white;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

input[type=submit] {
    background-color: var(--bg-primary);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

input[type=submit]:hover {
  opacity: 0.8;
}

input {
    padding: 10px;
}

h1 {
    text-align: center;
}

a:hover {
    cursor: pointer;
    }

a {
    text-decoration: none;
    text-decoration-color: black;
}

input, label{
    margin: 5px;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar .right-items {
    float: right;
}

.navbar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.link-text {
      display: none;
      margin-left: 5.5rem;
      font-size: 24px;
}

.content {
    margin: 5rem;
}
