<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User Question</title>
</head>
<body>
    <h1>Add User Question</h1>
    <form enctype="multipart/form-data" action="{{ url_for('add_new_question') }}" method="post" >
        <ul>
            <li>
                <label for="title">Question</label>
                <br>
                <textarea rows="4" cols="50" name="title" required="required"></textarea>
            </li>
        </ul>
        <ul>
            <li>
                <label for="message">Question message</label>
                <br>
                <textarea rows="5" cols="60" name="message" required="required"></textarea>
            </li>
        </ul>
        <ul>
            <li>
                <label for="picture">Add Photo (only .jpg and .png extensions)</label>
                <br>
                <input type="file" name="file"/>
                <br>
            </li>
        </ul>
        <ul>
            <li>
                <input type="submit" value="Post question"/>
            </li>
        </ul>
    </form>

</body>
</html>


