{% extends "root_template.html" %}
{% block title %}Add question{% endblock %}
{% block navbar_login_buttons %}
    {% if username %}
        <li class="right-items"><a href="{{ url_for("user_profile", user_id=user_id) }}">{{ username }}</a></li>
    {% else %}
        <li class="right-items"><a href="{{ url_for("login") }}">Login</a></li>
        <li class="right-items"><a href="{{ url_for("registration_route") }}">Register</a></li>
    {% endif %}
{% endblock %}
{% block body %}
    <h1>Add User Question</h1>
    <form enctype="multipart/form-data" action="{{ url_for('add_new_question') }}" method="post" >
        <div class="container">
        <ul>
            <li>
                <label for="title">Question</label>
                <br>
                <textarea rows="4" cols="50" name="title" required="required"></textarea>
            </li>
        </ul>
        <ul>
            <li>
                <label for="message">Question message</label>
                <br>
                <textarea rows="5" cols="60" name="message" required="required"></textarea>
            </li>
        </ul>
        <ul>
            <li>
                <label for="picture">Add Photo (only .jpg and .png extensions)</label>
                <br>
                <input type="file" name="file"/>
                <br>
            </li>
        </ul>
        <ul>
            <li>
                <input type="submit" value="Post question"/>
            </li>
        </ul>
        </div>
    </form>
{% endblock %}



