<!DOCTYPE html>
<html lang="en">
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <body>
        <h1>{% block header %}{% endblock %}</h1>
        <form action="{% block route %}{% endblock %}" method="post">
         {% block title_value %}{% endblock %}
         {% block question_message_value %}{% endblock %}
         {% block answer_message_value %}{% endblock %}
            <input type="submit" {% block button_value %}{% endblock %}>
        </form>
    </body>
</html>
