{% extends "common_template.html" %}
{% block title %}Edit Question{% endblock %}
{% block header %}Edit Question{% endblock %}
{% block route %}{{ url_for('edit_question_route', question_id=question_id) }}{% endblock %}
{% block question_message_value %}
    <label>Title:<br>
        <textarea rows="4" cols="50" required name="title">{{ title }}</textarea>
    </label>
    <br><br>
    <label>Message:<br>
        <textarea rows="4" cols="50" required name="message">{{ message }}</textarea>
    </label>
    <br><br>
{% endblock %}
{% block button_value %}value="Post"{% endblock %}