{% extends "root_template.html" %}
{% block title %}Edit comment{% endblock %}
{% block navbar_login_buttons %}
    {% if username %}
        <li class="right-items"><a href="{{ url_for("user_profile", user_id=user_id) }}">{{ username }}</a></li>
    {% else %}
        <li class="right-items"><a href="{{ url_for("login") }}">Login</a></li>
        <li class="right-items"><a href="{{ url_for("registration_route") }}">Register</a></li>
    {% endif %}
{% endblock %}
{% block body %}
    <h1>Ask Mate</h1>
    <form action="{{ url_for('edit_comment_route', comment_id=comment_id, message=message) }}" method="post">
            <div class="container">
                <label>Message:<br>
                    <textarea rows="4" cols="50" required name="message">{{ message }}</textarea>
                 </label>
                <br><br>
                {% block answer_message_value %}{% endblock %}
                <input type="submit" value="Post">
            </div>
        </form>
{% endblock %}