{% extends "basic_common_template.html" %}
{% block title %}List Questions{% endblock %}
{% block content %}
    <body>
        <h1>List Questions</h1>
        <table>
            <thead>
                <tr>
                    <th>Questions</th>
                    <th>Views</th>
                    <th>Votes</th>
                    <th>Submission Time</th>
                    <th>Vote Up</th>
                    <th>Vote Down</th>
                </tr>
            </thead>
            <tbody>
                {% for line in questions %}
                    <td><a href="{{ url_for('route_question',question_id=line.id) }}">{{ line.title }}</a></td>
                    <td>{{ line.view_number }}</td>
                    <td>{{ line.vote_number }}</td>
                    <td>{{ line.submission_time }}</td>
                    <td><a href="{{ url_for('vote_up_question_route',question_id=line.id) }}">Like</a></td>
                    <td><a href="{{ url_for('vote_down_question_route',question_id=line.id) }}">Dislike</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('add_new_question') }}">Add a question</a><br>
        <a href="{{ url_for('route_home') }}">Back to home</a><br>
    </body>
{% endblock %}