{% extends "basic_common_template.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
<body>
    <h1>Login Page</h1>
     <form method="post">
          <div class="container">
              {% if message != None %}
                  <p>{{ message }}</p>
              {% endif %}
              <label for="username">Username</label><br>
              <input type="email" name="username" id="username" required><br>
              <label for="password">Password</label><br>
              <input type="password" name="password" id="password" required><br>
              <input type="submit" value="Login">
          </div>
    </form>
</body>
{% endblock %}