{% extends "basic_common_template.html" %}
{% block title %}Post an answer{% endblock %}
{% block content %}
<body>
    <h1>Post an answer</h1>
    <form enctype="multipart/form-data" action="{{ url_for('add_new_answer', question_id=question_id) }}" method="post" >
        <div class="container">
        <ul>
            <li>
                <label for="message">Your answer</label>
                <br>
                <textarea rows="5" cols="60" name="message" required="required"></textarea>
            </li>
        </ul>
        <ul>
            <li>
                <label for="picture">Add Photo (only .jpg and .png extensions)</label>
                <br>
                <input type="file" name="file"/>
                <br>
            </li>
        </ul>
        <ul>
            <li>
                <input type="submit" value="Post answer"/>
            </li>
        </ul>
        </div>
    </form>

</body>
{% endblock %}
