<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Question Comment</title>
</head>
<body>
    <h1>Add New Question Comment</h1>
    <form enctype="multipart/form-data" action="{{ url_for('add_question_comment', question_id = question_id) }}" method="post" >
        <ul>
            <li>
                <label for="message">Comment</label>
                <br>
                <textarea rows="4" cols="60" name="message" required="required"></textarea>
            </li>
        </ul>
        <ul>
            <li>
                <input type="submit" value="Post comment"/>
            </li>
        </ul>
    </form>
</body>
</html>