{% extends "root_template.html" %}
{% block title %}Add comment{% endblock %}
{% block navbar_login_buttons %}
    {% if username %}
        <li class="right-items"><a style="font-size: 13px" class="bordered-item" href="{{ url_for('logout') }}">Logout</a></li>
        <li class="right-items"><a href="{{ url_for("user_profile", user_id=user_id) }}">{{ username }}</a></li>
    {% else %}
        <li class="right-items"><a href="{{ url_for("login") }}">Login</a></li>
        <li class="right-items"><a href="{{ url_for("registration_route") }}">Register</a></li>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="body-header">
        <h2 class="title-sign">Add question comment</h2>
        <form action="{{ url_for('add_question_comment', question_id=question_id) }}" method="post">
            <div class="container">
                <label><br>
                    <textarea rows="4" cols="50" required name="message">{{ message }}</textarea>
                 </label>
                <br><br>
                {% block answer_message_value %}{% endblock %}
                <input id="x" type="submit" value="Post">
            </div>
    </form>
    </div>
{% endblock %}