{% extends "root_template.html" %}
{% block title %}Search{% endblock %}
{% block navbar_login_buttons %}
    {% if username %}
        <li class="right-items"><a href="{{ url_for("user_profile", user_id=user_id) }}">{{ username }}</a></li>
    {% else %}
        <li class="right-items"><a href="{{ url_for("login") }}">Login</a></li>
        <li class="right-items"><a href="{{ url_for("registration_route") }}">Register</a></li>
    {% endif %}
{% endblock %}
{% block body %}
    <h1>Searched Question List</h1>
    <div id="questions">
        {% for q_data in questions_data %}
            <div class="highlighted">Question Title: {{ q_data.title }}</div><br>
            <div class="highlighted">Question Message: {{ q_data.message }}</div><br>
            {% for ans_data in answers_data %}
                {% if ans_data.question_id == q_data.id %}
                    <div class="highlighted indented">Answer Message:  {{ ans_data.message }}</div><br>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
 <a href="{{ url_for('route_list') }}">List all questions</a><br>
{% endblock %}