{% extends "root_template.html" %}
{% block title %}Add Question Tag{% endblock %}
{% block navbar_login_buttons %}
    {% if username %}
        <li class="right-items"><a style="font-size: 13px" class="bordered-item" href="{{ url_for('logout') }}">Logout</a></li>
        <li class="right-items"><a href="{{ url_for("user_profile", user_id=user_id) }}">{{ username }}</a></li>
    {% else %}
        <li class="right-items"><a href="{{ url_for("login") }}">Login</a></li>
        <li class="right-items"><a href="{{ url_for("registration_route") }}">Register</a></li>
    {% endif %}
{% endblock %}
{% block body %}
    <h1>Add Question Tag</h1>
    <form enctype="multipart/form-data" action="{{ url_for('add_question_tag',tags=tags_list ,question_id=question_id) }}" method="post" >
        <div class="container">
        <ul>
            <li>
                <label for="tag"> Select a tag</label>
                <br>
                <select name="tag">
                    {% for tag in tags %}
                        <option value="{{ tag['name'] }}">#{{ tag['name'] }}</option>
                    {% endfor %}
                </select>
            </li>
        </ul>
        <ul>
            <li>
                <input type="submit" value="Add tag"/>
            </li>
        </ul>
        </div>
    </form>
    <form enctype="multipart/form-data" action="{{ url_for('add_question_tag',tags=tags_list ,question_id=question_id) }}" method="post" >
        <div class="container">
        <ul>
            <li>
                <label for="tag_name">Create a tag</label>
                <br>
                <input name="tag_name" type="text" placeholder="add new tag" required/>
            </li>
        </ul>
        <ul>
            <li>
                <input type="submit" value="Add tag"/>
            </li>
        </ul>
        </div>
    </form>
{% endblock %}

