{% extends "basic_common_template.html" %}
{% block title %}Profile Page{% endblock %}
{% block content %}
<body>
    <h1>Profile</h1>
    <h2>Hello, {{ user_data.name }}!</h2>
    <ol>
        <li>User id: {{ user_data.id }}</li>
        <li>User name: {{ user_data.name }}</li>
        <li>Registration date: {{ user_data.registration_date }}</li>
        <li>Count of asked questions: {{ user_data.count_of_asked_questions }}</li>
        <li>Count of answers: {{ user_data.count_of_answers }}</li>
        <li>Count of comments: {{ user_data.count_of_comments }}</li>
        <li>Reputation: {{ user_data.reputation }}</li>
    </ol>
        <table>
            <thead>
                <tr>
                    <th>Questions</th>
                    <th>Views</th>
                    <th>Votes</th>
                    <th>Submission Time</th>
                    <th>Vote Up</th>
                    <th>Vote Down</th>
                </tr>
            </thead>
            <tbody>
                {% for question in question_data %}
                    <td><a href="{{ url_for('route_question',question_id=question.id) }}">{{ question.title }}</a></td>
                    <td>{{ question.view_number }}</td>
                    <td>{{ question.vote_number }}</td>
                    <td>{{ question.submission_time }}</td>
                    {% if username != None %}
                        <td><a href="{{ url_for('vote_up_question_route',question_id=question.id) }}">Like</a></td>
                        <td><a href="{{ url_for('vote_down_question_route',question_id=question.id) }}">Dislike</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Answer</th>
                </tr>
            </thead>
            <tbody>
                {% for answer in answer_data %}
                    <td><a href="{{ url_for('route_question',question_id=answer.question_id) }}">{{ answer.message }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comment_data %}
                    <td><a href="{{ url_for('route_question',question_id=comment.question_id) }}">{{ comment.message }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
{% endblock %}